/* @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap'); */

@font-face {
  font-family: 'Figtree-ExtraBold';
  src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Figtree-Medium';
  src: url('./assets/fonts/static/Figtree-Medium.ttf') format('truetype');
}

:root {
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);

  --font-Figtree-Medium: Figtree-Medium;
  --font-Figtree-ExtraBold: Figtree-ExtraBold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--color-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16;
  font-family: var(--font-Figtree-Medium);
}

.card {
  max-width: 375px;
  background-color: var(--color-white);
  margin: 0 1rem;
  padding: 22px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 1);
}

.card > img {
  width: 100%;
  border-radius: 12px;
}

.card .text {
  margin: 18px 0;
}

.card .text button {
  background-color: var(--color-yellow);
  margin-left: 2px;
  margin-bottom: 15px;
  padding: 5px 12px;
  border-radius: 5px;
  color: var(--color-gray-950);
  border: none;
  font-family: var(--font-Figtree-ExtraBold);
  font-weight: 800;
  cursor: pointer;
  scale: 1.05;
}

.card .text button:hover {
  filter: brightness(0.95);
  transition: all 0.2 ease-in-out 0s;
}

.card .text button:active {
  transform: scale(0.96);
  transition: transform 0.2s ease-in-out 0s;
}

.card .text small {
  display: block;
  margin-bottom: 18px;
  color: var(--color-gray-950);
}

.card .text h2 {
  margin-bottom: 18px;
  font-family: var(--font-Figtree-ExtraBold);
  font-weight: 800;
  color: var(--color-gray-950);
}

.card .text h2:hover {
  color: var(--color-yellow);
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}

.card .text h2:active {
  transform: scale(0.99);
  transition: all 0.2s ease-in-out 0s;
}

.card .text p {
  color: var(--color-gray-500);
  line-height: 1.5;
  font-weight: 500;
}

.profile {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 0;
}

.profile:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}

.profile:active {
  transform: scale(0.99);
}

.profile img {
  width: 35px;
}

.profile p {
  margin: 0 15px;
  font-size: 14px;
  color: var(--color-gray-950);
  font-weight: 800;
}
